* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 5%;
}
.header {
  min-height: 10vh;
  width: 100%;
  background-color: #694bff;
  /* background-color: #6500ff; */
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/bg-2.jpg);
  background-image: url(img/bg-2.jpg); */
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
nav li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
nav li ::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav li :hover::after {
  width: 100%;
}
nav button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}
nav button:hover {
  background-color: #f44336;
  color: #fff;
}
.text-box h1 {
  font-size: 35px;
}
.text-box {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 6%;
  bottom: 0;
  color: #fff;
}
.text-details p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.details-btn {
  margin-top: 20px;
  border: none;
  padding: 12px 35px;
  background: transparent;
  border: 1px solid #fff;
  /* margin-left: 25%; */
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
.details-btn:hover {
  background-color: #f44336;
  color: #fff;
}
.material-icons-outlined {
  display: none;
}
/* media quarry */
@media (max-width: 700px) {
  .text-box {
    display: block;
  }
  body {
    overflow: hidden;
  }
  .text-details {
    text-align: center;
  }
  .text-box img {
    width: 100%;
  }
  .text-box h1 {
    font-size: 25px;
  }
  .nav-links li {
    display: block;
    padding: 20px;
  }
  nav button {
    padding: 20px;
  }
  .nav-links {
    position: absolute;
    background-color: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul li {
    display: block;
  }
  .material-icons-outlined {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

/* course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  position: relative;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
/* media */
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Apply for admission */
.admission {
  background-color: #ff5f60;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  margin-top: -200px;
}
.admission h3 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}
.admission P {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.admission a {
  color: white;
}
.admission button {
  background-color: black;
}
.admission input {
  border: 0;
  padding: 5px;
  border-radius: 10px 0 0 10px;
}
.admission button {
  border: 0;
  border-radius: 10px;
}
.admission a {
  padding: 5px;
  text-decoration: none;
}
@media (max-width: 700px) {
  .admission {
    position: relative;
    margin-top: 0;
  }
}

/* campus */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
/* facilities */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}
/* success */
.success {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.success h1 {
  font-size: 36px;
}
.success-col h3 {
}
.success-col img {
  width: 50%;
}
/* CALL TO ACTION */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 48px;
  padding: 0;
}
.cta a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
    padding: 15px;
  }
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
footer a {
  text-decoration: none;
  margin: 0 10px;
}
.icon {
  display: flex;
  justify-content: space-between;
}
.icon img {
  width: 20px;
}
@media (max-width: 700px) {
  footer {
    display: block;
  }
  .icon {
    display: block;
  }
}
